<app-page-header [showBackButton]="true"> </app-page-header>

<app-entity-details [title]="code" [navLinks]="navLinks" [(activeLink)]="activeTab">

  <form [formGroup]="ticketForm">
    <div *ngIf="activeTab === 'details'" class="form-section">
      <app-page-header>
        <div class="button-group">
          <button mat-button color="primary" (click)="isEditMode || isCreateMode ? onSubmit() : toggleEditMode()"
            [disabled]="(isEditMode || isCreateMode) && ticketForm.invalid">
            {{ isEditMode || isCreateMode ? "Save" : "Edit" }}
          </button>
        </div>
      </app-page-header>
      <section>
        <div class="form">
          <div class="form-row">
            <app-dynamic-input label="Status" type="dropdown" [control]="statusFormControl" [options$]="statuses$"
              [displayPipe]="formatStatus">
            </app-dynamic-input>
            <app-dynamic-input label="Due Date" type="date" [control]="dueDateFormControl">
            </app-dynamic-input>
            <app-dynamic-input label="Assignee" type="dropdown" [control]="assigneeFormControl"
              [options$]="activeUsers$" [optionDisplayFields]="['username']" [optionValueField]="'id'">
            </app-dynamic-input>
          </div>
          <div class="form-row">
            <app-dynamic-input label="Reporter" type="dropdown" [control]="reporterFormControl"
              [options$]="activeUsers$" [optionDisplayFields]="['username']" [optionValueField]="'id'">
            </app-dynamic-input>
            <app-dynamic-input label="Request By" type="dropdown" [control]="requestByFormControl"
              [options$]="customers$" [optionDisplayFields]="['name']" [optionValueField]="'id'">
            </app-dynamic-input>
          </div>
          <div class="form-row">
            <app-dynamic-input label="Title" type="text" [control]="titleFormControl"></app-dynamic-input>
          </div>
          <app-dynamic-input label="Description" type="editor" [control]="descriptionFormControl">
          </app-dynamic-input>
        </div>
      </section>
    </div>
  </form>