<mat-toolbar color="primary" class="app-header">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="company-name">{{ companyName | uppercase }}</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item [routerLink]="['/users', username]"><mat-icon>person</mat-icon>My Profile</button>
    <button mat-menu-item (click)="onLogOutClicked()"><mat-icon>logout</mat-icon>Log Out</button>
  </mat-menu>
</mat-toolbar>