<app-page-header [showBackButton]="true">
  <div class="button-group" *ngIf="activeTab === 'profile'">
    <button mat-flat-button (click)="onChangePassword()" *ngIf="canChangePassword && !isEditMode">
      <mat-icon>lock_reset</mat-icon>
      Change Password
    </button>
    <button mat-flat-button *ngIf="!isEditMode && authService.isAdmin()" (click)="toggleEditMode()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-flat-button *ngIf="isEditMode" (click)="onSubmit()" [disabled]="userForm.invalid">
      <mat-icon>save</mat-icon>
      Save
    </button>
    <button mat-flat-button *ngIf="isEditMode" (click)="toggleEditMode()">
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
  </div>
</app-page-header>

<app-entity-details [title]="firstName + ' ' + lastName" [navLinks]="navLinks" [(activeLink)]="activeTab">

  <ng-template #changePassword>
    <form [formGroup]="changePasswordForm">
      <div class="form-row">
        <app-dynamic-input label="Current Password" type="password"
          [control]="currentPasswordFormControl"></app-dynamic-input>
      </div>
      <div class="form-row">
        <app-dynamic-input label="New Password" type="password" [control]="newPasswordFormControl"></app-dynamic-input>
      </div>
      <div class="form-row">
        <app-dynamic-input label="Confirm New Password" type="password"
          [control]="confirmNewPasswordFormControl"></app-dynamic-input>
      </div>
    </form>
  </ng-template>

  <form [formGroup]="userForm">
    <div *ngIf="activeTab === 'profile'" class="form-section">
      <section>
        <div class="image-container">
          <img src="assets/user-profile.jpg" alt="Profile" class="profile-img" />
        </div>
        <div class="form">
          <div class="form-row">
            <app-dynamic-input [isEditable]="isEditMode" label="First Name" type="text"
              [control]="firstNameFormControl">
            </app-dynamic-input>
            <app-dynamic-input [isEditable]="isEditMode" label="Last Name" type="text" [control]="lastNameFormControl">
            </app-dynamic-input>
            <app-dynamic-input [isEditable]="isEditMode" label="Email" type="text" [control]="emailFormControl">
            </app-dynamic-input>
          </div>
          <div class="form-row no-justify">
            <app-dynamic-input [isEditable]="isEditMode" label="Role" type="radio" [control]="roleFormControl"
              [radioOptions]="roleOptions">
            </app-dynamic-input>
            <app-dynamic-input [isEditable]="isEditMode" label="Status" type="radio" [control]="activeFormControl"
              [radioOptions]="statusOptions">
            </app-dynamic-input>
          </div>
        </div>
      </section>
    </div>
  </form>