<app-page-header>
  <button mat-flat-button (click)="onAddTicket()">
    <mat-icon>add</mat-icon>
    Add Ticket
  </button>
</app-page-header>

<app-search-container [searchForm]="true" (event)="clearAllFilters()">
  <form [formGroup]="filterForm">
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="fullName" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="roles">
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="statuses">
          <mat-option *ngFor="let status of statusOptions" [value]="status.value">
            {{ status.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</app-search-container>

<app-view-table [columnMappings]="tableColumns" [data]="displayedTickets" (rowClick)="onRowClick($event)">
</app-view-table>