<app-page-header>
  <button mat-flat-button (click)="onAddTicket()">
    <mat-icon>add</mat-icon>
    Add Ticket
  </button>
</app-page-header>

<app-search-container [searchForm]="true" (event)="clearAllFilters()">
  <form [formGroup]="filterForm">
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Assignee</mat-label>
        <input matInput formControlName="assignee" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Reporter</mat-label>
        <input matInput formControlName="reporter" />
      </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Statuses</mat-label>
          <mat-select multiple formControlName="statuses">
            <mat-select-trigger>
              <div class="selected-statuses">
                <div class="status-chip" *ngFor="let status of filterForm.get('statuses')?.value">
                  {{ getStatusLabel(status) }}
                  <mat-icon class="remove-status" (click)="removeStatus($event, status)">close</mat-icon>
                </div>
                <span *ngIf="!filterForm.get('statuses')?.value?.length">Select statuses...</span>
              </div>
            </mat-select-trigger>
            <mat-option *ngFor="let status of statusOptions" [value]="status.value">
              {{ status.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Request By</mat-label>
        <input matInput formControlName="requestBy" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Created From</mat-label>
        <input matInput [matDatepicker]="createdFromPicker" formControlName="createdFrom" />
        <mat-datepicker-toggle matSuffix [for]="createdFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #createdFromPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Created To</mat-label>
        <input matInput [matDatepicker]="createdToPicker" formControlName="createdTo" />
        <mat-datepicker-toggle matSuffix [for]="createdToPicker"></mat-datepicker-toggle>
        <mat-datepicker #createdToPicker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</app-search-container>

<app-view-table [columnMappings]="tableColumns" [data]="displayedTickets" (rowClick)="onRowClick($event)">
</app-view-table>